body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4682b4;
}
.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.menu button {
    padding: 10px 20px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
.menu button:hover {
    background-color: #5a9bd6;
}
.content {
    display: none;
}
input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 24px);
}
button {
    padding: 10px 20px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #5a9bd6;
}
p {
    margin-top: 10px;
    padding: 10px;
    background-color: #e0f7fa;
    border-left: 4px solid #4682b4;
    border-radius: 4px;
}